<footer>
    <div class="footer-contact">
        <h4>CONTACTO</h4>
        <p>Calle: Paseo de las Flores 7800</p>
        <p>Ciudad: Santa Marta</p>
        <p>Telefono: 555-700-2000</p>
        <p>Movil: 249-345-2000</p>

    </div>


<div class="footer-social">
    <h4>BUSCANOS</h4>
    <div class="footer-icons">
        <a href="https://www.twitter.com" target="blank"><i class="fab- fa-twitter-square"></i></a>
        <a href="https://www.instagram.com" target="blank"><i class="fab fa-instagram-square"></i></a>
        <a href="https://www.facebook.com" target="blank"><i class="fab fa-facebook square"></i></a>
        <a href="mailto: ricardodavidquevedo29@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
</div>

<div class="footer-legal">
    <p>Blog de Viajes</p>
    <p>Ricardo Coello - Home</p>
    <a href="/login">login</a>
</div>

</footer>