<header>
    <h1>Mi Blog de Viajes</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Destinos</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
</nav>